@model List<Favorites>
@{
    ViewData["Title"] = "Favorites";
}

<h1>Favorites</h1>
<table class="table table-bordered">
    <thead>
        <tr><th>Recipe Title</th> <th>Recipe Ingredients</th> <th>Thumbnail</th></tr>
    </thead>
    <tbody>
        @foreach (var f in Model)
        {
            <tr>
                <td><a href="@f.href">@f.title</a></td>
                <td>@f.ingredients</td>
                <td><img src="@f.thumbnail" /></td>
                <td>
                    <form action="RemoveFavorite" method="post">
                        <input type="hidden" name="title" value="@f.title" />
                        <button type="submit" value="Submit">Remove Favorite</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>